.container {
    width: 400px;
    height: 450px;
    background-color: rgb(226, 223, 219);
    border-radius: 5%;
    margin-top: 35px;

}

form{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
form div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
}
input{
    width: 80%;
    height: 40px;
    border: 0;
    border-radius: 15px;
    padding-left: 20px;
}
input:focus{
    outline: none;
}
/*input::placeholder{
    padding-left: 20px;
} */