header{
    background-color: darkgray;
    width: 100%;
    height: 50px;
}


h1 {
    font-size: 25px;
    padding-top: 5px;
    animation: floatText 5s infinite alternate;
}
@keyframes floatText {
    from {
        margin-left: -80%;
        color: rgba(187, 180, 180, 0.822);
    }
    to {
        margin-left: 80%;
        color: rgb(250, 250, 250);
    }
}



@media screen and (max-width: 900px) {
    h1{
        font-size: 20px;
        padding-top: 10px;
    }
}



